In [2]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import time

fp = '/Users/sreevaatsav/Downloads/only_locs_processed.csv'

location_df = pd.read_csv(fp)

In [8]:
# for loc in location_df.iloc[:100]["location"]:
#     print(loc)

In [15]:

# Create a Nominatim geocoder instance
# geolocator = Nominatim(user_agent='my-application')
geolocator = Nominatim(user_agent="http")

# Define a function to get the location information for a given address
s = time.time()
def get_location_info(address):
    location = geolocator.geocode(address, timeout=10)
    if location is None:
        return None, None
    
    return location.latitude, location.longitude

# Clean and extract the location information for each row in the dataframe
latitudes = []
longitudes = []


i = 0
s1 = time.time()
for i in range(len(location_df)):
    loc =  location_df.iloc[i]["location"]
    
    if isinstance(loc, str):
        # Clean the location string
        loc = loc.strip()
        if len(loc) > 0:
            
            # Get the location information
            lat, lon = get_location_info(loc)

            latitudes.append(lat)
            longitudes.append(lon)
            
            if i%1000 == 0:
                e1 = time.time()
                print(i)
                print("--- ",(e1-s1)/60, " mins")
                s1 = time.time()
            
            i += 1
            
    else:
        latitudes.append(None)
        longitudes.append(None)
        
e = time.time()
print()
print((e-s)/60, " mins")

0
---  0.02099458376566569  mins
9000
---  20.321550949414572  mins
10000
---  5.249699433644612  mins
12000
---  10.089952969551087  mins
15000
---  16.296577417850493  mins
16000
---  51.10163534879685  mins
17000
---  5.524455281098684  mins
18000
---  3.9124923507372538  mins
19000
---  3.532238845030467  mins
21000
---  6.624109168847402  mins
28000
---  17.236233619848885  mins
31000
---  7.219040882587433  mins
36000
---  9.836735848585764  mins
38000
---  6.951264178752899  mins
43000
---  15.29552220106125  mins
46000
---  13.461363848050436  mins
50000
---  23.47339648405711  mins
51000
---  5.671937012672425  mins
54000
---  13.5479226231575  mins
55000
---  4.815741654237112  mins

242.36836385329565  mins

In [16]:
len(latitudes), len(longitudes)

(55400, 55400)

In [17]:
# latitudes
len(location_df)

55400

In [18]:
long_df = pd.DataFrame(longitudes)
lat_df = pd.DataFrame(latitudes)

In [28]:
coord_df = pd.concat([location_df,long_df, lat_df], axis=1)

In [30]:
del coord_df["Unnamed: 0"]

In [31]:
coord_df.columns = ["location","long","lat"]

In [32]:
coord_df

                      location        long        lat
0             Saltwater Gospel         NaN        NaN
1                          NaN         NaN        NaN
2                United States -100.445882  39.783730
3                  Los Angeles -118.242766  34.053691
4                 Ann Arbor MI  -83.731229  42.268157
...                        ...         ...        ...
55395  Chun Zheng De Xi Hai An         NaN        NaN
55396                      NaN         NaN        NaN
55397       Montreal QC Canada  -73.569806  45.503182
55398             TRANSPARENCY   -1.941055  52.411795
55399           California USA -118.755997  36.701463

[55400 rows x 3 columns]

In [33]:
coord_df[coord_df["long"].isna()]

                      location  long  lat
0             Saltwater Gospel   NaN  NaN
1                          NaN   NaN  NaN
8                          NaN   NaN  NaN
12                <CUR>17k MRR   NaN  NaN
17                         NaN   NaN  NaN
...                        ...   ...  ...
55385                      NaN   NaN  NaN
55389                      NaN   NaN  NaN
55392                      NaN   NaN  NaN
55395  Chun Zheng De Xi Hai An   NaN  NaN
55396                      NaN   NaN  NaN

[35072 rows x 3 columns]

In [34]:
coord_df.to_csv("locations_tweets.csv")

In [48]:
import time

time.sleep(1)

In [ ]:
city_arr = []
state_arr = []
country_arr = []

for i in range(len(coord_df)):
    
    if coord_df.iloc[i]["long"] == None:
        city_arr.append(None)
        state_arr.append(None)
        country_arr.append(None)
        
    else:
        
        long = coord_df.iloc[i]["long"]
        lat = coord_df.iloc[i]["lat"]
        
        try:
            location = geocoder.osm([lat, long], method='reverse')
        
            city_arr.append(location.city)
            state_arr.append(location.state)
            country_arr.append(location.country)
        
        except:
            city_arr.append(None)
            state_arr.append(None)
            country_arr.append(None)

In [ ]:
city_arr

In [43]:
import geocoder
import reverse_geocode as rg

# Example latitude and longitude coordinates
latitude = 47.6062
longitude = -122.3321

# Use geocoder to get the city and country names
location = geocoder.osm([latitude, longitude], method='reverse')

# Use reverse_geocode to get the state name
# state = reverse_geocode(latitude, longitude)[0]['state']

# Print the results
print('City:', location.city)
print('City:', location.state)
print('Country:', location.country)
location.
# print('State:', state)

City: Seattle
City: Washington
Country: United States

In [44]:
# rg.search((47.6062, -122.3321))

FileNotFoundError: [Errno 2] No such file or directory: '/Users/sreevaatsav/.pyenv/versions/project_env/lib/python3.10/site-packages/reverse_geocode/countries.csv'

In [45]:
import reverse_geocoder as rg
coordinates = (47.6062, -122.3321),(51.5214588,-0.1729636),(9.936033, 76.259952),(37.38605,-122.08385)

rg.search(coordinates)

[{'lat': '47.60621',
  'lon': '-122.33207',
  'name': 'Seattle',
  'admin1': 'Washington',
  'admin2': 'King County',
  'cc': 'US'},
 {'lat': '51.51116',
  'lon': '-0.18426',
  'name': 'Bayswater',
  'admin1': 'England',
  'admin2': 'Greater London',
  'cc': 'GB'},
 {'lat': '9.93988',
  'lon': '76.26022',
  'name': 'Cochin',
  'admin1': 'Kerala',
  'admin2': 'Ernakulam',
  'cc': 'IN'},
 {'lat': '37.38605',
  'lon': '-122.08385',
  'name': 'Mountain View',
  'admin1': 'California',
  'admin2': 'Santa Clara County',
  'cc': 'US'}]